{% extends 'base.html.twig' %}

{% block title %} Accueil admin{% endblock %}

{% block body %}

{# affichage de message #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{type}}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <p class="mb-0 fs-4">{{message}}</p>
            </div>
        {% endfor %}
    {% endfor %}

<div class="mb-3">
    <h1>Espace administrateur</h1>
</div>
<div class="d-flex flex-row justify-content-between">
    <ul class="d-flex flex-column  gap-3 list-unstyled">
        <li>
            <a href="{{ path('app_admin_index') }}" class="text-decoration-none">
                <button type="button" class="btn {{app.request.get('id') == 'null' ? 'btn-primary' : 'btn-outline-primary'}}">Toutes les categories</button>
            </a>
        </li>
    {% for category in categories %}
        <li>
            <a href="{{ path('app_admin_index', {id: category.id}) }}" class="text-decoration-none">
                <button type="button" class="btn {{app.request.get('id') == category.id ? 'btn-primary' : 'btn-outline-primary'}}">{{category.name}}</button>
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="d-flex flex-row flex-wrap gap-4 justify-content-center">
        {% for item in items %}       
            <a href="{{path('app_encheres_show', {id: item.id})}}" class="text-decoration-none">
                <div class="card border-primary " style=" min-width: 250px">
                    <div class="card-header fw-bold">{{ item.title}}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{item.StartingPrice ~ ' €'}}</h4>
                        <span class="card-text fs-5">{{ item.status == 'unpublished' ? 'Enchère non ouverte' : (item.status == 'published' ? 'Enchère ouverte': 'Enchère clôturé')}}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
